.h1{
  background: #ffc000;
}
li{
  list-style: none;

  list-style-position: outside;


}
.table{
border: 2px solid dodgerblue;

}
.table tr th{
vertical-align: middle;
padding: 5px;
}
.table tr td{
vertical-align: middle;
padding: 5px;
}