:root{
  --color:black;
  --blur:1px;
  --space:1px;
  --rotate:0deg;
  --scale:1;
}
#controls{
  width:600px;
  height:800px;
  position: relative;
  margin: 10px auto;
  border:3px solid var(--color);
  box-sizing: border-box;

}
#controls .control_area{
  background:var(--color);
  color: white;
  font-size:20px;
  border-bottom: 2px solid var(--color);
}
#controls img{
  width: 100%;
  height:95%;
  position: relative;
  object-fit: cover;
  background: var(--color);
  padding:var(--space);
  filter:blur(var(--blur));
 transform:rotate(var(--rotate)) scale(var(--scale));



}